<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Blogg</h1>
      <p>Succulents hexagon cold-pressed, green juice biodiesel tofu farm-to-table.</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<!--- Add footer class here --->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Built by <a href="http://nikhilsamuel.com">Nikhil Samuel</a></p>
    <p><a href="http://twitter.com/nikhilsamuel">Twitter</a></p>
  </div>
</footer>
